<div class="row">
  <div class="col-md-6">
    <h3>Thursday Apr 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Workshop overview and introductions</td> </tr>
      <tr> <td>09:15</td> <td><a href="https://hpc-carpentry.github.io/hpc-shell/00-hpc-intro/index.html">Why Use a Cluster?</a></td> </tr>
      <tr> <td>09:20</td> <td><a href="https://hpc-carpentry.github.io/hpc-shell/01-connecting/index.html">Connecting to the remote HPC system</a></td> </tr>
      <tr> <td>9:25</td> <td><a href="https://hpc-carpentry.github.io/hpc-shell/02-navigation/index.html">Moving around and looking at things</a></td> </tr>
      <tr> <td>9:35</td> <td><a href="https://hpc-carpentry.github.io/hpc-shell/03-files/index.html">Writing and reading files</a></td> </tr>
      <tr> <td>9:45</td>  <td><a href="https://hpc-carpentry.github.io/hpc-shell/04-wildcards-pipes/index.html">Wildcards and pipes</a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td>Logging in and commands available to the user</td> </tr>
      <tr> <td>11:00</td>  <td>SBATCH options/script</td> </tr>
      <tr> <td>11:05</td>  <td>Batch jobs</td> </tr>
      <tr> <td>11:10</td>  <td>Interactive jobs</td> </tr>
      <tr> <td>11:20</td>  <td>Profiling</td> </tr>
      <tr> <td>11:30</td>  <td>Basic job arrays</td> </tr>
      <tr> <td>11:45</td>  <td>Moving data around (Globus)</td> </tr>
      <tr> <td>11:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>

